body {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: white;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 750;
  font-size: 40px;
  line-height: 1.5;
  color: white;
}

form {
  padding: 25px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.35);
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 15px;
  border: 1px solid #5fc8f7;
  border-radius: 10px;
  width: 80%;
  font-size: 16px;
}

.submit-button {
  width: 18%;
  border-radius: 10px;
  margin-left: 5px;
  background-color: #5664dd;
  color: white;
  border: 0;
  padding: 14px 14px;
  font-size: 15px;
}

.activity-ideas {
  font-size: 14px;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.35);
  padding: 20px;
  line-height: 1.5;
  border-radius: 15px;
  border-left: 4px solid #5ec0f5;
}

.activity-ideas em {
  color: #5664dd;
}

.activity-ideas h1 {
  color: black;
  font-size: 16px;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  color: white;
}
